.form {
	width: 100%;
 }
 
 .input {
	width: 60%;
	height: 25px;
	border: 1px solid black; 
	border-radius: 20px;
 }
 
 .btn {
	width: 30%;
	height: 25px;
	border: 1px solid black;
	border-radius: 20px;
	cursor: pointer;
 }
 